.tablesAdmin{
    min-height: 100vh;
    padding:30px;
    float: right;
    margin-top:75px;
}
.editScheduleItem{
    background-color:#f4f4f4;
    padding: 20px;
    margin-top:0;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.collapseForm{
    background-color: #d5e0e2;
    margin-bottom: 20px;
    padding:20px;
}
.createNewBtn{
    margin-bottom:20px;
}
.elementCardAdmin{
    background-color:#efefef;
    padding: 10px;
    padding-top:20px;
    margin-bottom: 20px;
}
.btnInElementAdmin{
    float: right;
    margin-left: 10px;
}
.smallHeading{
    font-weight: bold;
}

.editIcon {
    float: right;
}

.form-control {
    display: inline-block;
    width: 90%;
}

/**Schedule**/
.dayDateTitleSchedule{
    margin-bottom: 20px;
    color:#822a40;
}
.containerScheduleElements{
    margin-bottom: 60px;
}
/**Post and event**/
.newsImgEdit, .eventImgEdit, .contactImgEdit{
    max-height: 100px;
    margin-bottom: 20px;
}
/**Settings**/
.settingsHeader{
    margin-bottom: 50px;
}
.settingTxt{
    font-weight: bold;
    color:rgb(88, 88, 88);
    font-size: 18px;
}