html {
  font-size: 16px;
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}

.contact-list,
.contact-person,
.contact-header-text,
.contactfprm {
  display: inline-block;
}

h3,
h2,
p,
label,
input {
  font-family: "Open Sans", sans-serif;
}

.contact-header-text {
  margin-top: 50px;
  padding: 0px 20px 5px 30px;
}

.contact-header-text h2 {
  font-size: 1.5rem;
}
.contact-person {
  margin-top: 10px;
  margin-bottom: 93px;
}
.card.contact-person-card {
  width: 18rem;
}

.contact-adress {
  width: 50%;
  margin: 0 auto;
}
.contact-adress p {
  font-size: 1.2rem;
}
.contact-adress i {
  font-size: 1.7rem;
}
.contact-form {
  float: right;
  top: 50px;
}
.card.contact-form-card {
  width: 24rem;
}
p.contact-form-header-small-text {
  font-size: 0.8rem;
}

textarea.form-control {
  height: 140px;
  important: !;
}

.list-group-item p {
  font-size: 0.9rem;
}

img.contact-card-img {
  height: 320px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  -webkit-transition: filter 1s; /* For Safari 3.1 to 6.0 */
  transition: filter 1s;
}

img.contact-card-img:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

@import url("https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css");

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .contact {
    width: 100%;
  }
  .contact-header-text {
    padding: 0px 15px 0px 15px;
  }
  .contact-form {
    padding: 0;
    margin-bottom: 50px;
  }
  .contact-form-content {
    padding: 0;
  }
  .contact-form-short-text {
    margin: 0;
  }
  .card.contact-form-card {
    width: 100%;
  }
  .contact-person {
    padding: 0;
  }
  .card.contact-person-card {
    width: 100%;
  }
  .contact-adress {
    margin: 0;
    width: 100%;
  }
  .contact-adress i {
    font-size: 1.4rem;
    width: 50%;
    margin: 0 auto;
    float: right;
    padding-bottom: 5px;
  }
  .contact-adress p {
    font-size: 0.8rem;
    width: 100%;
    margin: 0 auto;
  }
}
