.card {
  width: 18rem;
}

.contactPerson {
  display: inline-block;
  margin-top: 50px;
}

.contactInfo {
  margin: 25px 25px;
}

img.card-img-top {
  height: 320px;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);

  -webkit-transition: filter 1s; /* For Safari 3.1 to 6.0 */
  transition: filter 1s;
}

img.card-img-top:hover {
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

.row {
  margin-right: 0px;
  margin-left: 0px;
}
