.event-date {
  font-style: italic;
  font-size: 14px;
  font-family: "Merriweather", serif;
  margin-bottom: 0px;
}

h2.event-title {
  margin: 35px 0px 5px 0px;
  font-size: 40px;
  font-family: "Open Sans", sans-serif;
}

p.event-text {
  font-family: "Merriweather", serif;
  margin-top: 25px;
}

hr.event-hr {
  margin-top: 0px;
  margin-bottom: 50px;
  height: 0.2px;
  background-color: black;
}
.event-scedule-item {
  margin: 0;
  border: 1px solid grey;
  border-radius: 4px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  p.event-text {
    padding: 15px;
  }
  h2.event-title {
    font-size: 28px;
    padding: 5px 15px;
  }
  p.event-date {
    padding: 5px 15px;
  }
}
