div.footer {
  display: inline;
}

footer {
  height: 55px;
  bottom: 0;
  position: absolute;
  background-color: #c089c4;
  padding: 10px 0px 10px 0px;
  width: 100%;
}

p {
  display: inline-block;
}

img.socialMediaImg {
  width: 30px;
  height: 30px;
  margin: 0px 10px 0px 40px;
}
