footer {
  height: 45px;
  bottom: 0;
  position: static;
  background-color: #060606c2;
  padding: 10px 0px 10px 0px;
  width: 100%;
  margin-right: 0 !important;
  margin-left: 0 !important;
  margin-top: 70px;
}

.footer p {
  display: inline-block;
  color: #ffffff7d;
}

.footer i {
  padding-right: 8px;
  color: #ffffffd4;
}

p.copyright {
  font-family: "Merriweather", serif;
  font-size: 12px;
  padding-left: 50px;
}

.social-media a:hover {
  border-bottom: 0.2px solid white;
}
.social-media p:hover {
  color: white;
}
