div.footer {
  display: inline;
}

footer {
  height: 150px;
  bottom: 0;
  background-color:#822a40;
  padding: 10px 0px 10px 0px;
  width: 100%;
  margin-right:0!important;
  margin-left:0!important;
}

img.socialMediaImg {
  width: 30px;
  height: 30px;
  margin: 0px 10px 0px 40px;
}
