.headerImage{
     background: url(../img/big_header.jpg);
     background-attachment: fixed;
     background-position: center;
     background-repeat: no-repeat;
     background-size: 100% 100%;
     width: 100%;
     min-height: 100vh;
     
}
.contentHeader{
    min-height: 300px;
    min-height:100vh;
    margin: auto;
}
.logoImg{
    padding-top:80px;
    display: block;
    margin:auto;  
}
.headerText, .dateHeader{
    color:white;
    text-align: center;
    margin-top:60px;
    font-size: 18px;
}
.headerTextSm{
    color:white;
    text-align: center;
    font-size: 22px;
}
.dateHeader{
    font-size: 30px;
    font-weight: bold;
}
.btnHeader{
    background-color:  #822a40;
    color:white;
    font-size: 24px;
    margin: auto;
    border:none;
}
.btnHeader:hover{
    background-color: #e28e6a;
    color:white;
    text-decoration: none;
}
.btnHeaderDiv{
    margin: auto;
    text-align: center;
}



/*****Home page***''''''''''''''''''''''''''''''''''''''''''''''''''''''**/
.headerImgDiv{
    width: 100%;
    height: 300px;
    background-color: pink;
    background: url(../img/banner.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.newsTitle{
    text-align: center;
    width: 100%;
    text-decoration: underline;
}
.shortHomeTxt{
    margin: auto;
    margin-top: 30px;
    font-family: Arial, Helvetica, sans-serif;
}
.shortHomeTxt>p{
    text-align: center;
    font-size: 18px;
}
.shortHomeTxtLast{
    font-weight: bold;
    text-align: center;
    width: 100%;
    font-style: oblique;
    color:#562482;
}

/*****Home Schedule*****/

.buyTicketsBtn{
    width: 100%;
    font-size: 22px;
    margin-top: 20px;
}
th{
    background-color: lightgray;  
    padding: 5px;
}
td, th{
    padding-left: 10px;
}
td{
    background-color:rgba(224, 218, 223, 0.315);
}
td:hover{
    background-color:rgb(236, 219, 236);
    cursor: pointer;
}
.tableSchedule{
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    border-radius: 15px;
    overflow: hidden;
}

/*****Artist thumbnail list*****/

.artistDiv {
    height: 200px;
    position: relative;
    margin-top: 30px;
  }
  .thumbArtist {
    width: 100%;
    height: 100%;
    display: block;
  }
  .artistName {
    position: absolute;
    bottom: 8px;
    left: 24px;
    color:white;
    font-size: 20px;
  }
  .overlay {
    position: absolute;
    top: 0;
    left:0;
    height: 100%;
    width: 100%;
    opacity: 0.4;
    background-color: #ab87ad;
  }
  .shortDescr{
    position: absolute;
    top: 50%;
    left: 30%;
    transform: translate(-30%, -50%);
    color:white;
    font-size: 14px;
  }
 

/*****News List*****/
.linkArticle:hover{
    text-decoration: none;
}
.newsSection{
    width: 100%;
    min-width: 0;
    margin-top: 50px;
    background-color: #e7e7e7;
}
.newsDiv{
    height: 400px;
    position: relative;
    margin-top: 20px;
    
}
.newsDiv:hover{
    opacity: 0.85;
    cursor: pointer;
}
.imgNewsDiv{
    width: 100%;
    height: 250px;
}
.thumbNewsImg{
    width: 100%;
    height: 100%;
    border-top-right-radius: 15px;
    border-top-left-radius: 15px;
    display: block;
}
.textNewsDiv{
    background-color:white;
    padding: 10px;
    color:black;
}
.dateOnNewsImg{
    position: absolute;
    top: 20px;
    left: 16px;
    background-color:#ab87ad;
    color:white;
    padding:5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}