body {
    margin: 0;
    padding: 0;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .navbar {
    background-color: #c089c4 !important;
  }
  .nav-link {
    color: white !important;
    font-size: 20px;
  
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .nav-link:hover {
    color: #562482 !important;
  }
  .center {
    margin: auto;
  }
  .nav-link.active {
    color: #562482 !important;
    font-weight: bold;
    text-decoration: underline;
  }
 .linkYear{
   text-align: center;
   font-size: 18px;
   font-weight: bold;
   color:#562482;
 }
 .linkYear:active{
  background-color: white;
  color:black;
 }