/* FONTEROOS */
body {
    margin: 0;
    padding: 0;
    font-family: myriad-pro, sans-serif;
    font-weight: 300;
    font-style: normal;
  }

h1 {
  font-family: balboa, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h2 {
  font-family: balboa, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h3 {
  font-family: balboa, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h4 {
  font-family: myriad-pro, sans-serif;
  font-weight: 700;
  font-style: normal;
}

p {
  font-family: myriad-pro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

/*         END OF FONTEROOS        */
/* ------------------------------- */

html{
  scroll-behavior: smooth;
}
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }
  .navbarFront, .navTopAdmin {
    background-color: #822a40 !important;
  }
  .logoNav{
    height: 60px;
    margin-left: 20px;
  }
  .nav-link {
    color: white !important;
    font-size: 20px;
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
  .nav-link:hover {
    color:#e28e6a !important;
  }
  .navbar-nav{
    margin-right:60px;
  }
  .nav-link.active {
    color: #e28e6a !important;
    font-weight: bold;
    text-decoration: underline;
  }
 .linkYear{
   text-align: center;
   font-size: 18px;
   font-weight: bold;
   color:#e28e6a;
 }
 .linkYear:active{
  background-color: white;
  color:black;
 }



